/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #330707;
  color: #000000;
}

img {
  width: 150px;
  height: 50px;
  left: 45%;
  position: absolute;
}

header {
  background-color: #000000; /* Azul escuro */
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.eco-card {
  background-color: #e8f5e9;
  color: #2e7d32;
  border-left: 5px solid #43a047;
}
.eco-card h3 {
  margin-top: 0;
}

#menu-toggle {
  font-size: 30px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
}

nav {
  display: none;
  background-color: #0d60ad; /* Roxo vibrante */
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  border-radius: 8px;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

nav.active {
  display: block;
  transform: translateY(0);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #ffffff;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #f0f0f0;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
    padding: 1rem;
  }

  img {
    left: 30%;
  }

  .container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.status-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.card {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  border-left: 6px solid #6a0dad;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.card.green {
  border-left: 6px solid #2ecc71;
}
.card.yellow {
  border-left: 6px solid #f1c40f;
}
.card.red {
  border-left: 6px solid #e74c3c;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.chart-container {
  flex: 1 1 400px;
  background-color: #fffcfcc5;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #6a0dad;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  height: 300px;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.machines h2 {
  margin-bottom: 1rem;
  color: #ffffff; /* Roxo vibrante */
}

.machines ul {
  list-style: none;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
